body {
    background-color: #99e9ff;
    display: block;
    font-family: 'Courier New', monospace;
}

.header {
    width: 100%;
    height: 100px;
    text-align: center;
}

.octopus__head {
    position: absolute;
}

img {
    border: 3px solid #223b4d;
    position: absolute;
    top: 0px;
    left: 450px;
}

.box {
    width: 900px;
    margin: auto;
}

/*Tentacle style
*/

.octopus__tentacle {
    position: absolute;
}

.tentacle {
    background: #708899;
    margin-bottom: 1em;
    margin-left: auto;
    width: 450px;
    border-radius: 20px 0px 0px 20px;
    height: 45px;
    display: flex;
    justify-content: flex-end;
}

.tentacle__future {
    background-color: #3d6d8f;
    height: 100%;
}

.tentacle__current {
    background-color: #223b4d;
    height: 100%;
}

.ten {
    width: 10%;
}

.twenty {
    width: 20%;
}

.thirty {
    width: 30%;
}

.fourty {
    width: 40%;
}

.fifty {
    width: 50%;
}

.sixty {
    width: 60%;
}

.seventy {
    width: 70%;
}

.hundred {
    width: 100%;
}

.tentacle__title {
    position: absolute;
    margin-top: 2%;
    color: white;
}

/*Legend style
*/

.octopus__legend {
    width: 900px;
    position: absolute;
    top: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.legend__item {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    margin-right: 10px;
}

.legend__color {
    width: 20px;
    height: 15px;
    margin-right: 5px;
    background-color: #708899;
}

.legend__title {
    font-size: 105%;
    font-weight: 600;
}

.color__current {
    background-color: #223b4d;
}

.color__future {
    background-color: #3d6d8f;
}

/*Media Query
 */

@media (max-width: 420px) {
    .header {
        font-size: 70%;
        height: 50px;
        margin-bottom: 20px;
    }

    .box {
        width: 320px;
    }

    .octopus__head {
        display: none;
    }

    .tentacle {
        margin-left: 2em;
        margin-right: 1em;
        width: 250px;
        border-radius: 20px 20px 20px 20px;
        justify-content: flex-start;
    }

    .tentacle__future {
        border-radius: 20px 0px 0px 20px;
    }

    .tentacle__title {
        color: white;
        margin-top: 5%;
        margin-left: 10px;
        font-size: 80%;
    }

    .octopus__legend {
        top: 470px;
        width: 320px;
        flex-direction: column-reverse;
    }
}
